  <!-- JavaScript Section -->
    <script src="Scripts/lib/jquery/dist/jquery.min.js "> </script>
    <script src="Scripts/lib/bootsrap/dist/js/bootstrap.min.js "></script>
    <script src="Scripts/app.js "></script>
  </body>
  
  <small>© Taisen Colcher 2015 </small>
  
  
</html>