<!--
File Name: about.ejs
Author: Taisen Colcher
Website http://taisencolcher-advancedwebassignment1.azurewebsites.net/contact / TaisenColcher.com
About page for TaisenColcher.com
 -->

<% include partials/header.ejs %>


    <!-- MAIN CONTENT -->
    <main >
        
        <h1><%= title %></h1>

    <img src="../images/TaisenProfilePictureReSized.png"  id="profilePicture">


        
        <p> <pre>
            My perfect night: I pick you up in my Toyota Echo. You get in. There's candles in the car. 
            You go, '...is that dangerous?' and I go, 'Yes- but I like danger.'
            
            We go to your favorite restaurant, and we have a fantastic meal. We come 
            outside and we see my car's no fire. You say, 'Taisen, your car is on fire!
            Aren't you upset?'
            I pull out a bag of marshmallows and I go, 'No. I knew this was going to 
            happen'. 
            
            And then I kiss you. In front of my burning car'
        </pre></p>


    


    </main>



    <% include partials/footer.ejs%>