<!--
File Name: about.ejs
Author: Taisen Colcher
Website http://taisencolcher-advancedwebassignment1.azurewebsites.net/contact / TaisenColcher.com
About page for TaisenColcher.com
 -->
<% include partials/header.ejs %>


    <!-- MAIN CONTENT -->
    <main>

        <h1><%= title %></h1>

        <img src="../images/TaisenProfilePictureReSized.png" id="profilePicture">

       <h4 >Taisen Colcher</h4>
       <!-- having issues with formating so this this paragraphs are for a work around -->
        <p id="unbox">
            Age 20 
        </p>
        <p id="unbox">
            Student at Georgian College -> Computer Programming & Analysis
        </p>
        <p id="unbox">
           Previous Student at Seneca College -> Computer Programming & Analysis
        </p>
        <p id="unbox">
          Interested in Software Development and Game Design
        </p>
        <p id="unbox">
           Hobbies: Guitar, Making Games, and Painting
        </p>
       

        
            <p > <pre>
            I am Taisen Colcher. I am a student at Georgian College in their Computer Programming and Analysis program. I enjoy working with other people to program things and I love to make my own games.
            
            I have been learning for about 9 years through self-learning and school. I have taken programming classes throughout highschool. After highschool I attended Seneca College for their Computer Programming and Analysis program. After 3 semesters at Seneca I transfered to Georgian College where I currently attend.
            
            In my free time I love make games using Unity engine. When I am not programming I like to listen/play all sorts of music. I also love Impressionist art and enjoy checking out new artists and painting some of my own.
          
            </pre></p>
        





    </main>



    <% include partials/footer.ejs%>