<!--
File Name: index.ejs
Author: Taisen Colcher
Website http://taisencolcher-advancedwebassignment1.azurewebsites.net/contact / TaisenColcher.com
Home page for TaisenColcher.com
 -->
<% include partials/header.ejs %>
  
  
      <!-- MAIN CONTENT -->
      <main class="container ">
          
        <h1>Taisen Colcher</h1>
      
      
   
  <% include partials/footer.ejs%>