<!--
File Name: index.ejs
Author: Taisen Colcher
Website http://taisencolcher-advancedwebassignment1.azurewebsites.net/contact / TaisenColcher.com
Home page for TaisenColcher.com
 -->
<% include partials/header.ejs %>


    <!-- MAIN CONTENT -->
    <main class="container ">

        <h1>Taisen Colcher</h1>

       

            <h2>I Love to Program </h2>
      
      
        
        My name is Taisen Colcher and I love to make games. I'm hard working, full of great ideas, and easy to work with. Look around and learn more about me. :)
        
        
       


            <% include partials/footer.ejs%>