<!--
File Name: projects.ejs
Author: Taisen Colcher
Website http://taisencolcher-advancedwebassignment1.azurewebsites.net/contact / TaisenColcher.com
project page for TaisenColcher.com
 -->
<% include partials/header.ejs %>


    <!-- MAIN CONTENT -->

    <h1><%= title %></h1>

    <img src="../images/placeHolderPicture200px.png" id="project1picutre">

    <p id="project1text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed commodo metus. Morbi faucibus ligula vel turpis dapibus, et vulputate urna porttitor. Donec ornare tristique diam quis mollis. Mauris rhoncus leo at ante tincidunt, ac bibendum dui rhoncus. Nullam vulputate augue ipsum, vel aliquet mauris cursus nec. Sed condimentum at mi nec imperdiet. Praesent auctor scelerisque semper. Pellentesque rutrum gravida tristique. 
        
     aliquet ipsum in lectus dapibus ullamcorper. Maecenas tempor ligula et diam mattis, at semper sem congue. In eu bibendum nisl. Morbi sit amet tempus dui. Nam augue erat, maximus vel ante sit amet, imperdiet molestie est. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut nec imperdiet augue. Nam facilisis tempus pharetra. Sed at enim non diam laoreet scelerisque. Nullam sit amet est sed lacus ornare ullamcorper.
        
     </p>
        

    <img src="../images/placeHolderPicture200px.png" id="project2picture">

    <p id="project2text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus molestie sem libero, eu tincidunt justo vulputate sit amet. Aenean eu posuere dui. Fusce quam nisi, facilisis vitae erat sed, ultricies ultrices elit. Nulla posuere vehicula congue. Donec eu magna eget urna auctor accumsan nec quis ex. Proin eleifend vulputate eros, ut vestibulum dolor malesuada vel. Quisque eleifend purus nunc, a rutrum est varius et. Nulla sodales nisi augue, et pellentesque felis tempus maximus. Suspendisse pretium viverra diam dictum semper. Donec vel efficitur mauris. Etiam lacinia, massa ut eleifend tempus, lacus nibh placerat nisi, ut lobortis tortor enim quis arcu. Vestibulum luctus ante elementum, mollis ex non, vulputate odio. Aliquam vel mattis tortor, ut sodales turpis. </p>


    <% include partials/footer.ejs%>