<!--
File Name: projects.ejs
Author: Taisen Colcher
Website http://taisencolcher-advancedwebassignment1.azurewebsites.net/contact / TaisenColcher.com
project page for TaisenColcher.com
 -->
<% include partials/header.ejs %>


    <!-- MAIN CONTENT -->

    <h1><%= title %></h1>




    <% include partials/footer.ejs%>