<!--
File Name: services.ejs
Author: Taisen Colcher
Website http://taisencolcher-advancedwebassignment1.azurewebsites.net/contact / TaisenColcher.com
Services page for TaisenColcher.com
 -->
<% include partials/header.ejs %>


    <!-- MAIN CONTENT -->
    <h1><%= title %></h1>

    <h3> Expertise </h3>
    
    <img src="../images/unityLogo.png" id="unityLogo"> </img>
    <p id="unityText">I have been designing and programming my own games in Unity for a couple years now. I love taking my own ideas and transforming them into something that other people can enjoy. </p>

    
    <img src="../images/blenderLogo.png" id="blenderLogo"> </img>
    <p id="blenderText"> While using Unity I found it neccesary to learn how to create and animate my own models instead of paying to use other peoples creations. </p>
    


    <% include partials/footer.ejs%>