/*
File Name: app.css
Author: Taisen Colcher
Website http://taisencolcher-advancedwebassignment1.azurewebsites.net/contact / TaisenColcher.com
 Css style sheet for TaisenColcher.com
 */

#profilePicture {
    float: left;
    padding: 10px;   
    height: 170px;

}

body {
    background-color: lightgrey;
    
}

h1 {
    text-align: center;
}

/*small {
    
    position: absolute;
    bottom: 0;
    left: 0;
}
*/
textarea {
    resize: none;
}





